<div class="col-12 col-sm-12">
  <div class="col-12">
    <button *ngIf="redes" type="button" (click)="accederConGoogle()" class="btn btn-danger btn-block">
      <i class="fab fa-google"></i>
      Registrarse con Google
    </button>
    <br>
    <button *ngIf="redes" type="button" (click)="accederConFacebook()" class="btn btn-danger btn-block">
      <i class="fab fa-facebook"></i>
      Registrarse con Facebook
    </button>
    <br>
    <button *ngIf="redes" type="button" (click)="accedersinRedes()" class="btn btn-danger btn-block">
      <i class="fas fa-sign-in-alt"></i>
      Registrarse sin Redes Sociales
    </button>
  </div>
  <div class=" col-12 datosusuario">
    <div class="text-center" *ngIf="sinredes">
      <br>
      <h5>
        Por favor complete los campos para registrarlo correctamente
      </h5>
      <br>
      <div class="col-12">
        <form id="formNewPacientesinredes" name="formNewPacientesinredes">
          <div class="col-12">
            <label class="text-black" for="Fullname">
              Nombres y Apellidos
            </label>
            <br>
            <input type="text" name="Fullname" [(ngModel)]="persona.Fullname" class="inputs text-center form-control">
            <br>
          </div>
          <div class="col-12">
            <label class="text-black" for="Numerodocumento">
              Numero Documento
            </label>
            <br>
            <input type="text" name="Numerodocumento" [(ngModel)]="persona.Numerodocumento" class="inputs text-center form-control" onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;">
            <br>
          </div>
          <div class="col-12">
            <label class="text-black" for="Email">
              Correo
            </label>
            <br>
            <input type="email" name="Email" [(ngModel)]="persona.Email" class="inputs text-center form-control">
            <br>
          </div>
          <div class="col-12">
            <label class="text-black" for="Password">
              Contrasena
            </label>
            <br>
            <input type="password" name="Password" [(ngModel)]="persona.Password" class="inputs text-center form-control">
            <br>
          </div>
          <div class="col-12">
            <br>
            <button type="submit" class="btn btn-danger btn-block" (click)="validar()">
              Registrar
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="invisible" *ngIf="!loggedIn">
      <h2>
        Falta Iniciar Sesión
      </h2>
    </div>
    <div class="text-center" *ngIf="loggedIn">
      <br>
      <h5>
        Por favor complete los campos para registrarlo correctamente
      </h5>
      <br>
      <div class="col-12">
        <form id="formNewPaciente" name="formNewPaciente">
          <div class="col-12">
            <label class="text-black" for="Fullname">
              Nombres y Apellidos
            </label>
            <br>
            <input type="text" name="Fullname"[ngModel]="editarnombre" [(ngModel)]="cliente.Fullname" class="inputs text-center form-control">
            <br>
          </div>
          <div class="col-12">
            <label class="text-black" for="Numerodocumento">
              Numero Documento
            </label>
            <br>
            <input type="text" name="Numerodocumento" [(ngModel)]="cliente.Numerodocumento" class="inputs text-center form-control" onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;">
            <br>
          </div>
          <div class="col-12">
            <label class="text-black" for="Email">
              Correo
            </label>
            <br>
            <input type="email" name="Email" [ngModel]="usuario.email" [(ngModel)]="cliente.Email" class="inputs text-center form-control">
            <br>
          </div>
          <div class="col-12">
            <br>
            <button type="submit" class="btn btn-danger btn-block" (click)="savePaciente()">
              Registrar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

