<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-6 mb-5 mb-lg-0 col-lg-6">
            <h2 class="footer-heading mb-4">
              Paginas:
            </h2>
            <ul class="list-unstyled">
              <li>
                <a [routerLink]="['/pages/home']">
                  Home
                </a>
              </li>
              <li>
                <a [routerLink]="['/pages/about']">
                  Nosotros
                </a>
              </li>
              <li>
                <a [routerLink]="['/pages/services']">
                  Servicios
                </a>
              </li>
              <li>
                <a [routerLink]="['/pages/contact']">
                  Contacto
                </a>
              </li>
              <li>
                <a [routerLink]="['/pages/blog']">
                  Blog
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-6 mb-5 mb-lg-0 col-lg-6">
            <h2 class="footer-heading mb-4">
              Siguenos por:
            </h2>
            <a href="https://www.facebook.com/jhamil.huamanverastein" class="pl-0 pr-3">
              <i class="fab fa-facebook fa-3x"></i>
            </a>
            <a href="https://www.instagram.com/jhamil_huaman_verastein/" class="pl-3 pr-3">
              <i class="fab fa-instagram fa-3x"></i>
            </a>
            <a href="https://www.linkedin.com/in/jhamilhuaman/" class="pl-3 pr-3">
              <i class="fab fa-linkedin-in fa-3x"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <h2 class="footer-heading mb-4">
          Servicios:
        </h2>
        <ul class="list-unstyled">
          <li *ngFor="let item of servicios">
            <a [routerLink]="['/pages/detailservice', item.id]">
              {{item.Name}}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
